@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


:root {
    --primary-color: hsl(170, 100%, 26%);
    --secondary-color: hsl(210, 11%, 15%);
    font-size: 62.5%; /*1rem = 10px */
}


body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
    color: var(--primary-color);
}

h1 {
    font-size: 3.4rem;
    color: var(--secondary-color);
    line-height: 130%;
}


p {
    font-size: 1.8rem;
}

button {
    background: var(--primary-color);
    color: white;
}




















/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}